amqp
asgiref
billiard
celery
click
click-didyoumean
click-plugins
click-repl
cron-descriptor
Django
django-celery-beat
django-prometheus
django-timezone-field
djangorestframework
gunicorn
kombu
packaging
prometheus_client
prompt_toolkit
psycopg2-binary
python-crontab
python-dateutil
python-dotenv
redis
ruff
six
sqlparse
tzdata
vine
wcwidth
whitenoise

